# === Dependencias ===
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# === Tests ===
/coverage

# === Next.js ===
/.next/
.out/
/build

/.turbo
/.swc

# === Logs / Debug ===
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log

# === Archivos de entorno ===
.env*
!.env.example        

# === Base de datos (SQLite local) ===
/data/*.db
/data/*.db-*
/data/*.sqlite
/data/*.sqlite-*
/data/*.db-shm
/data/*.db-wal
# Si quieres versionar un schema.sql, colócalo fuera de /data

# === Vercel ===
.vercel

# === Sistema operativo ===
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# === Editores ===
.vscode/
.idea/
.history/

# === TypeScript (si mezclas algo de TS) ===
*.tsbuildinfo
next-env.d.ts

